.picture {
    overflow: hidden;
    transition: all 0.2s;
}

.picture input[type="file"] {
    cursor: pointer;
    display: block;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 20%;
    height: 20%;
}

.picture-src {
    width: 100%;
}
